@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.bg-icono {
  color: rgb(54, 54, 54) !important;
}
.bg-footer {
  background-color: #021a26;
}
.titulo-contacto {
  color: #038189;
}
.w-icono-navbar {
  width: 15% !important;
}

.w-15 {
  width: 15%;
}

.foto {
  height: 250px;
  width: 250px;
  object-fit: cover;
}

.img-cover {
  object-fit: cover;
}

.formulario-contacto {
  background-color: #038189;
  padding: 25px;
  border-radius: 12px;
  color: white;
}

.formulario-contacto .form-control {
  background-color: white;
  color: black;
}

.formulario-contacto .btn-primary {
  border: 2px solid white;
}
.btn-enviar {
  background-color: white;
  color: black;
  border: 2px solid white;
  transition: 500;
}

.btn-enviar:hover {
  background-color: #89d5da;
  color: white;
}

.contenedor-mapa {
  border-radius: 50px;
  padding: 0px 0px 0px 10px;
  display: flex;
}

.contenedor-mapa iframe {
  flex: 1;
}
.btn-avant {
  background-color: #468189;
}
.btn.avant:hover {
  background-color: #77aca2;
}
.bg-principal {
  background-color: #77aca2;
}
.text-color {
  color: #468189;
}

.img-error-404 {
  max-width: 700px; /* tamaño máximo */
  width: 40%;
  height: auto;
}

.error-404 h1 {
  font-size: 60px;
}

.error-404 h2 {
  font-size: 40px;
  color: #1e626b;
}

.btn-volver {
  background-color: #038189;
  color: white;
  border: none;
}

.btn-volver:hover {
  background-color: #7ea3a6;
  color: white;
}
.bg-formRegistro {
  background-color: #9dbebb;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x) !important;
  font-size: var(--bs-navbar-toggler-font-size) !important;
  line-height: 1 !important;
  color: var(--bs-navbar-color) !important;
  background-color: transparent !important;
  border: var(--bs-border-width) solid var(--bs-navbar-toggler-border-color) !important;
  border-radius: var(--bs-navbar-toggler-border-radius) !important;
  transition: var(--bs-navbar-toggler-transition) !important;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='grey' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.roundedimg {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.roundedform {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
@media (width < 1200px) {
  .foto {
    height: 200px;
    width: 200px;
  }
}

@media (width < 768px) {
  .roundedimg {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .roundedform {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

/* Ajuste para que la foto del carrusel se vea completa */
.img-carrousel{
    height: 400px; 
          
    object-fit: cover;   
    background-color: #f8f9fa; 
    
}

/* En celulares, podemos hacerla un poco más pequeña aún */
@media (max-width <=768px) {
    .carousel-item img {
        height: 250px;
        object-fit: cover;  
    }
}

/* En celulares, podemos hacerla un poco más pequeña aún */
@media (max-width <=768px) {
    .carousel-item img {
        height: 250px;
        object-fit: cover;  
    }
}

/* Ajuste para el contenedor del banner */
.promo-banner {
    min-height: 200px; /* Ajusta esta altura según prefieras */
    display: flex;
    align-items: center;
    overflow: hidden;

}

.img-promo{
object-fit: cover;
 width: 100%;
 height: 200px;
 
 
 
}

/* Contenedor relativo para poder encimar el botón */
.contenedor-img-promo {
    position: relative;
    display: inline-block;
    
} 

/* Botón flotante */
.btn-encima {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Lo centra perfectamente */
    white-space: nowrap;
}

.bg-light.rounded img {
    height: 200px; 
    object-fit: contain;
    width: 100%;
}


/*productos*/
.img-producto-fija {
    width: 100%;       
    height: 200px;     
    object-fit: cover; 
    background-color: #f8f9fa;
    padding: 10px;     
}




/* Estilo para los botones "ver" de la liquidación */
.btn-outline-dark.rounded-pill {
    transition: all 0.3s ease;
    background-color: #3a9ea3;

}

.btn-outline-dark.rounded-pill:hover {
    background-color: #2d6164;
    color: #d4f4f6;
    transform: scale(1.05);
}

/*efectos botones productos*/

.img-producto {
  object-fit: cover; 
  
  transition: transform 0.5s ease;
  min-height: 450px;
}

.img-productos:hover img {
    transform: scale(1.1); /* Agranda la imagen suavemente */
}

/* Oscurecer un poco más al hacer hover para resaltar el texto */
.img-producto:hover {
    cursor: pointer;
}

.img-producto:hover .opacity-75 {
    opacity: 1 !important; /* O puedes bajarla a 0.5 según tu gusto */
}



/* Efecto de zoom en la imagen: seccion */
.card img {
  object-fit: cover; 
  
  transition: transform 0.5s ease;
  min-height: 450px;
}

.card:hover img {
    transform: scale(1.1); /* Agranda la imagen suavemente */
}

/* Oscurecer un poco más al hacer hover para resaltar el texto */
.card:hover {
    cursor: pointer;
}

.card:hover .opacity-75 {
    opacity: 1 !important; /* O puedes bajarla a 0.5 según tu gusto */
}
