@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.bg-icono {
background-color: black;
}
.bg-footer{
background-color: #021a26;
.icono-hover:hover {
  color: #0d6efd; /* Cambia al color deseado, ej. azul primary */
  cursor: pointer;
}
}
 