@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
.bg-icono {
color: rgb(54, 54, 54) !important;
}
.bg-footer{
background-color: #021a26;
}
.titulo-contacto {
  color: #038189;
}
.w-icono-navbar{
width: 15% !important;
}


.formulario-contacto {
    background-color: #038189;
    padding: 25px;
    border-radius: 12px;
    color: white;
  }

  .formulario-contacto .form-control {
    background-color: white;
    color: black;
  }

.formulario-contacto .btn-primary {
  border: 2px solid white;
}
.btn-enviar {
  background-color: white;
  color: black;
  border: 2px solid white;
  transition:  500;
}

.btn-enviar:hover {
  background-color: #89d5da;
  color: white;
}

.contenedor-mapa {
  
  border-radius: 50px;
  padding: 0px 0px 0px 10px;
  display: flex;
}

.contenedor-mapa iframe {
  flex: 1;
}
.btn-avant {
  background-color: #468189;

}
.btn.avant:hover {
background-color: #77ACA2;
}
.bg-principal{
background-color:  #77aca2;
}
.text-color{
 color:  #468189;
}

.img-error-404{
  max-width: 700px;   /* tamaño máximo */
  width: 100%;
  height: auto;
}