@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

.bg-icono {
background-color: black;
}

.bg-footer{
background-color: #021a26;
}

.formulario-contacto {
    background-color: #038189;
    padding: 25px;
    border-radius: 12px;
    color: white;
  }

  .formulario-contacto .form-control {
    background-color: white;
    color: black;
  }

.formulario-contacto .btn-primary {
  border: 2px solid white;
}
.btn-enviar {
  background-color: white;
  color: black;
  border: 2px solid white;
  transition:  500;
}

.btn-enviar:hover {
  background-color: #89d5da;
  color: white;
}